h1{
  text-align: center;
  color: Khaki;
  font-size: 140px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

.Brushes{
  background-color: LightBlue;

}
